.logo {
  width: 25%;
}

.nav-theme {
  background-color: rgba(16,16,24,0.97);
  font-size: 20px;

}

.animate-navbar {
  box-shadow: 1px 1px 1px #222;
  animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

  .inner {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .item--active {
    color: white !important;
    font-weight: 1000 !important;
    border-bottom: 2px solid#007bff;
  }

 .link {
    display: flex;
    padding: 1rem;
    color: white !important;
    text-decoration: none;
  }
  @media (max-width: 770px) {
    .link {
      display: flex;
      color: white !important;
      text-decoration: none;
    }
 
  
    .animate-navbar{
      /* max-height: 14vw;
      min-height: 14vw; */
      position: fixed;
      display: flex;
      flex-direction: row ;
      padding-right: 15vw;    
    }
    .inner{
      margin-top:1.6vw ;
      padding: 2.2vw;
      background-color: rgba(16,16,24,0.90);
      position: fixed;
      width: auto;
      height: auto;
      display: flex !important;
      flex-direction: column;
      display: inline-block;
      z-index: 2;
      line-height: 0.0;
      box-shadow: 3px 6px 20px -5px rgba(0,0,0,0.75);
      border-radius: 0em 0em 0.228em 0.228em;
    }
  
  }